<html>
<head>
    <title>Address Book</title>
</head>
<body>
    <h1>You Added a Contact!</h1>
    <p>{{ newcontact.getName }}</p>
    <p>{{ newcontact.getPhone}}</p>
    <p>{{ newcontact.getAddress }}</p>
    <p><a href='/'>View your contact list!</a></p>
</body>
</html>